.main {
    display: flex;
    flex-direction: column;
    height: 100svh;
}

.container {
    flex: 1;
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 1fr;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
